{% extends 'base.html' %}

{% block content %}

<section>
    <a href="/cities/new">New City</a>
</section>

<section class = list>
{% for city in city_list %}


<div class = "index">
            <h2> {{ city.name }} </h2>
            <p>{{ city.info }} </p>
            <p class = "locations"> {{ city.location.name }} </p>
            <div>
                <a href="/cities/{{ city.id }}/edit"> Edit City </a>
            </div>
            <div>
                <a href="/cities/{{ city.id }}/trip"> Review City </a>
            </div>
</div>

{% endfor %}

</section>

{% endblock %}