{% extends 'base.html' %}

{% block content %}
<h1>New City</h1>
<section class = "newform">
<form action ="/cities" method = "POST">
    <label for ="name"></label>
    <input type ="text" name = "name" placeholder = "Name"> 
    <div>
        <label for="location">Location:</label>
        <select name="location_id" id="location">
            {% for location in locations %}
            <option value="{{ location.id }}">
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <label for ="info"></label>
    <textarea rows="10" cols="40" name = "info" placeholder = "City Info"></textarea><br>
    <input type = "submit">
</form>
</section>

{% endblock %}