/* MAIN STYLING */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/balloons.jpg);
    margin:0
}

h1 {

    text-align: center;
    color:White;

}

h2 {

    text-align: center;
    color: #bc412b;
    margin:0

}

h3 {

    text-align: center;
    padding: 5px;
    color: #dc602e;
    margin:0
}
h4 {

    text-align: center;
    color: #bc412b;
    margin:0

}

.locations{

    text-align: center;
    color: #05a8aa;
    padding: 5px;
}

.buttonlink, .buttonlink:visited{

    padding: 10px;
    background-color: white;
    color: #d7b49e;
    border-radius: 10px;
    width: 20%;
    margin:auto;
    text-align:centre;
    display:flex;
    justify-content: center;
    text-decoration: none;
    border-color:#d7b49e;
    border:60px


    
}
.mainbody {
 

}

/* TILES */

.tilebuttons, .tilebuttons:visited{

    display:flex;
    justify-content: center;
    padding: 5px;
    background-color: #d7b49e;
    border-radius: 10px;
    text-decoration: none;
    width:100px

}


.tile {
    width: 250px;
    height: 250px;
    border: 5px solid #d7b49e;
}

div.index{
    margin: auto;
    width: 350px;
    border: 5px solid #d7b49e ;
    flex-basis: 350px;
    height: 500px;
    background-color: white;
    white-space: no-wrap;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}

.cityindex{

    margin: auto;
    width: 40%;
    border: 5px solid #d7b49e ;
    flex-basis: 400px;
    height: 600px;
    background-color: white;
    white-space: no-wrap;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.tripsindex{

    margin: auto;
    width: 20%;
    border: 5px solid #d7b49e ;
    flex-basis: 300px;
    height: 400px;
    background-color: white;
    white-space: no-wrap;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.ratings{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:none;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: stretch;
}

.ratingsno{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:none;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    margin-left: 20px;
    margin-right: 20px;
}

.ratingindexed{

    text-align: center;
    color: white;
}

.ratingimg{

    border: 5px solid #d7b49e;
}
.infotext{

    display:block;
    overflow-x : auto; 
}

.list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:none;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: stretch;
    padding-top: 40px;
    
    
}

.editcities{

    display: inline;
    padding: 10px;
    margin-left: 15px;
    background-color: #d7b49e;
    border-radius: 10px;

}
/* HEADER STYLING */

header{
    background-color: bc412b;
}
    

nav {
    border: 2px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 20px;

}


ul li {

    display: inline;
    padding: 10px;
    margin-left: 15px;
    background-color: #d7b49e;
    border-radius: 10px;

}

li a {

    text-decoration: None;
    color: white;
}

#title{

    color: #05a8aa;
    text-align: right;
}

/* FORMS */

form {

    width: 450px;
    margin: auto;
    background-color:white;
    border-radius:5px;

}

form > div {

    padding:15px;
}

input[type=button] {
    background-color: #05a8aa;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text]:focus {
    background-color: lightblue;
  }

/* PROFILE */

.profile {

    width: 210px;
    float:left;
    background-color:rgba(0,0,0,0.4);
    color:#fff;
    position: fixed;
    left: 0px;
    margin-top: 40px;
}
.profile > img{

    padding-top: 20px;
    padding-left: 20px;
}

.profilegrid {

    display:flex;
    flex-direction:row;

}

.flexlists {

    float:right;
    padding-left: 200px;

}