<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
<section>
    <h1 class = home> TravelBug</h1>
</section>
<p class ="homedesc"> 

The focus of a bucket list is to live a life with hopes and aspirations. Making a bucket list allows us to reflect on our values and goals, and identify important milestones and experiences that we want to have in our lifetime.

</p>
<br>
<div class = "homebuttons">
    <a class = "homebutton" href ="/locations">Locations</a><br>
    <a class = "homebutton"href ="/cities">Cities</a><br>
    <a class = "homebutton" href ="/trips">Trip Reviews</a><br>
</div>
</body>
</html>