{% extends 'base.html' %}

{% block content %}
<h1>Cities</h1>

<section>
    <a class="buttonlink" href="/cities/new">New City</a>
</section>

<section class = "list">
{% for city in cities %}
        <div class="cityindex">
            {% set imgUrl = "images/" + city.name + ".jpg" %}
                <img src = "{{url_for('static', filename=imgUrl)}} " alt = {{ city.name }} width ="400" height = "300">
                 <h2> {{ city.name }} </h2>
                 <h3>{{ city.info }} </h3>
                 
        </div>    
{% endfor %}
</section> 
<hr>

{% endblock %}