{% extends "base.html" %}
{% block content %}

<h1>Update a Location</h1>

<form action="/locations/{{ location.id }}" method="POST">
    <div>
        <label for="name"></label>
        <input type="text" id="name" name="name" value="{{ location.name }}">
    </div>
    <div>
        <label for="type"></label>
        <input type="text" id="type" name="type" value="{{ location.type }}">
    </div>
    <div>
        <label for="info"></label>
        <textarea id="info" name="info" cols="40" rows = 10 value="{{ location.info}}"></textarea>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}