{% extends 'base.html' %}

{% block content %}
<h1>BucketList Locations</h1>

<section>
    <a href="/locations/new">New Location</a>
</section>

<section class = "list">
{% for location in locations %}
        <div class="index">
            {% set imgUrl = "images/" + location.name + ".jpg" %}
                <img src = "{{url_for('static', filename=imgUrl)}}" alt = {{ location.name }} width ="300" height = "200">
                 <h2> {{ location.name }} </h2>
                 <h3>{{ location.type }} </h3>
                 <p> {{ location.info}} </p>
                    <div>
                        <a href="/locations/{{ location.id }}/cities"> View Cities </a>
                    </div>
                    <div>
                    <a href="/locations/{{ location.id }}/edit"> Edit Location </a>
                    </div>
        </div>    
{% endfor %}
</section> 
<hr>

{% endblock %} {}
