{% extends 'base.html' %}

{% block content %}
<h1>New Location</h1>
<section class = "newform">
<form action ="/locations" method = "POST">
    <label for ="name"></label>
    <br>
    <input type ="text" name = "name" placeholder = "Name"> 
    <label for ="type"></label>
    <br>
    <input type ="text" name = "type" placeholder = "Type Of Break"> 
    <label for ="info"></label>
    <br>
    <textarea rows="10" cols="40" name = "info" placeholder = "Location info"> </textarea>
    <br>
    <input type = "submit">
</form>
</section>
{% endblock %}