{% extends "base.html" %}
{% block content %}

<h2>Trips</h2>

<section class = list>
{% for trip in trips %}

    <div class = "index">

        {{ trip.user.username }} visited {{ trip.city.name }}
        {{ trip.date }}
        {{ trip.review }}
        {{ trip.rating }}
        <a href="/trips/{{ trip.id }}/edit">Edit</a>
    </div>

    {% endfor %}

</section>
<hr>
<h2>Top Rated Trips</h2>
<section class = list>

    {% for trip in top_results %}

    {{ trip.city_id }} {{ trip.avg_amount }}

    {% endfor %}
    </section>
{% endblock %}
