{% extends "base.html" %}
{% block content %}
</section>

<section class =profilegrid>
<section class = profile>
    {% set user = users[0] %}
    <img src = "{{url_for('static', filename= 'images/Jimbo123.png')}}" alt = profilepic width ="150" height = "150">
    <hr>
    <h2>{{ user.username }}</h2>
    <h2> {{ user.age }}</h2>
    <p>{{ user.interests }}</p>
    <a class = "tilebuttons" href ="/locations">Locations</a>
    <br>
    <a class = "tilebuttons" href ="/cities">Cities</a>
    <br>
    <a class = "tilebuttons" href ="/trips">Trip Reviews</a>


</section>
<div class = flexlists>

<h1>Top Rated Cities</h1>
<section class = ratings>
    {% for city in top_cities %}
        <div class = ratingindexed>
            {{ city.name }}
            <br>
            {% set imgUrl = "images/" + city.name + ".jpg" %}
            <img class = "ratingimg" src = "{{url_for('static', filename=imgUrl)}}" alt = {{ city.name }} width ="250" height = "180">
        </div>

    {% endfor %}      
</section>
<section class = ratingsno>
    {% for rating in ratings %}
            <div class = ratingindexed>

            {{rating}}/5
            </div>
    {% endfor %}
 </section>
 <hr>
<h1>All Reviews</h1>
<div>
    <a class = "buttonlink" href="/trips/new">New Trip</a>
</div>
<section class = list>
{% for trip in trips %}

    <div class = "tripsindex">
        {% set imgUrl = "images/" + trip.city.name + ".jpg" %}
        <img src = "{{url_for('static', filename=imgUrl)}}" alt = {{trip.city.name}} width ="300" height = "200">

        <h3>{{ trip.user.username }} visited {{ trip.city.name }}</h3><br>
        <h4>{{ trip.date }}</h4>
        <p class = review >{{ trip.review }}</p>
        <h4>{{ trip.rating }} Stars </h4>
        <div class = "buttons">
            <a class = "tilebuttons" href="/trips/{{ trip.id }}/edit">Edit</a>
            <form action="/trips/{{ trip.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
</section>

 

{% endblock %}
